/* font-family: 'Blaka Hollow', cursive;

font-family: 'Dancing Script', cursive;

font-family: 'Fredoka', sans-serif;

font-family: 'Neonderthaw', cursive;

font-family: 'Pacifico', cursive;

font-family: 'Patrick Hand', cursive;

font-family: 'Poppins', sans-serif; */


html { 
    scroll-behavior: smooth;
 }
body{
    margin: 0;
    padding: 0;
   
}
*{
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
}
:root{
    --primary-font:'Poppins', sans-serif; 
--secondary-font:'Fredoka', sans-serif;
--green-shade:rgb(67, 186, 127);
--red-shade:rgb(255, 81, 26);
--dark-shade:rgba(121, 134, 151, 0.7);
}
/* 
nav.index_nav{
display: flex;
align-items: center;
justify-content: space-around;
color: white;
margin-bottom: 50px;

} */
nav.hamburger_nav{
    display: none;

}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
span.production{
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
}

header.home_header{
 
    background-color: #f8f9d2;
    background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
    width: 100%;
    height: min-content;
    display: grid;
    align-items: center;
    padding:25px 25px 0 25px;
    grid-template-rows: 1fr 1fr;
    /* grid-gap: 20px; */
}
nav.home_nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
    align-self: flex-start;
    color: var(--primary-color);

}


nav.home_nav div{
    margin-right: 10px;
    cursor: pointer;
}
nav.home_nav div a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.3rem;
    font-family: var(--secondary-font);
}

div.home_header_title{
font-size: 2.6rem;
margin-bottom: 40px;
color: var(--primary-color);
font-family: var(--secondary-font);
justify-self: center;

}

div.hamburger_header_title{
    font-size: 1.6rem;
margin-bottom: 40px;
color: var(--primary-color);
font-family: var(--secondary-font);
justify-self: center;
}
div.home_header_text, div.hamburger_header_text{
    font-size: 1.2rem;
    
    color: var(--primary-color);
}
div#don a{
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

ul#hamburger_ul > *{
    background-color: whitesmoke;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    list-style-type: none; 
    text-align: center;
}
ul#hamburger_ul div a{
    color: black;
    text-decoration: none;
}
ul#hamburger_ul div a:hover{
     color: var(--red-shade);
     transition: all 0.3s;
}
ul#hamburger_ul > *:hover{
    background-color:rgba(245, 245, 245, 0.788) ;
    transition: all 0.3s
}
div.hamburger{
    width: 40px;
    cursor: pointer;
}
div.lines{
    border: 1.5px solid black;
    margin-bottom: 5px;
    cursor: pointer;
    
}
div.lines:nth-child(3){
    width: 50%;
}
ul.notshown{
    display: none;
}
button a{
    color: white;
    font-family: var(--secondary-font);
    text-decoration: none;
}
ul.shown{
    width:100%;
    display: block;
    transition: all 0.3s;
    margin-bottom: 15px;
    z-index: 100;
}
.rotat div:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px);
    transition-duration: 0.5s;
}
.rotat div:nth-child(3){
    transform: rotate(-45deg) ;
    transition-duration: 0.5s;
    width: 100%;
    
}

.rotat div:nth-child(2){
    display: none;
}
div.logo_div img{
    max-width: 100%;
    display: block;
    height: auto;
    object-fit: contain;
}

div.home{
    color: red;
}

/* header.index_header{
    background-image: url(./media/images/main_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: min-content;
    padding:20px 20px 50px 0px;
  
  

} */
header.index_header div.header_index_bottom_half{
    width: 100%;
    padding: 0 50px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}
header.index_header div.header_index_bottom_half div.index_heading_text{
    font-size: 3rem;
    font-family: var(--secondary-font);
}
hr{
    border: 5px solid;
    border-radius: 15px;
    width: 15%;
    color: white;
    margin: 50px 50px;
}

div.buttons{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
div.buttons button{
    min-width: 200px;
    height: 50px;
    display: block;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: var(--secondary-font);
    font-size: 1.1rem;
    cursor: pointer;
    margin-right: 10px;
}
div.buttons button:nth-child(1){
    background-color: var(--green-shade);
}
div.buttons button:nth-child(2){
    background-color: var(--red-shade);
}
div.forward_arrow{
    grid-column: 5 / 6;
    cursor: pointer;
}
div.back_arrow{
cursor: pointer;
}
div.forward_arrow span, div.back_arrow span{
font-size: 2.5rem;
}
div#main{
    grid-column: 2 / 4;
}

section.index_features{
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:50px;
    height: min-content;
    padding:100px 20px;
    place-items: center;
}

section.index_features div.box{
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 0px;
    width: 80%;
    padding: 10px 20px;
  
}

section.index_features div.box div.icon{
    margin-right: 10px;
    
}
div.icon span{
    font-size: 4rem;
    color: var(--green-shade);
}

div.icon span:hover{
    transform: translateY(10px);
    transition-duration:0.3s;
    cursor: pointer;
}

section.index_banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(./media/images/banner_two_buttons.jpg);
    height: min-content;
    padding: 40px;
}
section.index_banner div:nth-child(1){
    width: 80%;
    margin: auto;
}
section.index_banner div#welcome_title{
    font-family: var(--secondary-font);
    font-size: 3rem;
    color:white;

}

div.mission_title {
    padding:50px 0 0 0;
    text-align: center;
}

div.mission_title p#mt{
    font-size: 2.6rem;
    color: red;
    font-family: var(--secondary-font);
}

div#welcome_box p{
color: white;
}
div.text p:nth-child(1){
    font-size: 1.5rem;
    font-family: var(--secondary-font);
}
div.text p:nth-child(2){
    font-weight: 600;
}
section.about{
    width: 100%;
    height: min-content;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.about div.first_half_about div.selections{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;

}
section.about div.first_half_about div.selections div{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 0px;
    padding: 15px 30px;
    
    font-size: 1.2rem;
    cursor: pointer;
}
section.about div.first_half_about div.selections div a{
    font-family: var(--secondary-font);
}
section.about div.first_half_about div.selections div a:link , section.about div.first_half_about div.selections div:hover{
    color: var(--red-shade);
    transition-duration: 0.3s;
}
div.second_half_about p:nth-child(1){
    font-family: var(--secondary-font);
    font-size: 2.6rem;
}



div.first_half_about{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.second_half_about{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}
div.second_half_about div#discover_index{
    margin-top: 30px;
}
div.selection_table{
    width: 80%;
}
div.selection_table div.data{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-duration: 1s;
    animation-name: slide;
}

div.selection_table div.data p{
    margin: 10px;
}
p.table_heading{
    font-family: var(--secondary-font);
}
p.table_edge{
    font-family: var(--secondary-font);
    color: var(--green-shade);
}

div.hide{
    display: none  !important;
}
@keyframes slide {
    0%{
        transform: translate(-10px, 0);
        opacity: 0;
    }
    100%{
        transform: translate(0px, 0px);
        opacity: 100%;
    }
}

section.financialPlan{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 50px;
    height: min-content;
    background-image: url(./media/images/woman_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;

}

section.financialPlan div.woman_img img{
    max-width: 90%;
    display: block;
    height: auto;
    object-fit: cover;
}
div.text2 p:nth-child(1){
    color: var(--red-shade);
    font-size: 1.5rem;
    font-family: var(--secondary-font);


}

div.text2 p:nth-child(2){
    font-family: var(--secondary-font);
    font-size: 2.6rem;
}

div.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

form.financial_form{
    display: grid;
    grid-row-gap: 50px;
    grid-column-gap: 10px;
   justify-content: center;
   align-items: center;
   width: 100%;
   grid-template-columns: 1fr 1fr;
   
}

form.financial_form div label{
    display: block;
}
form.financial_form div input{
    padding:10px 5px;
    border-radius: 5px;
    outline: none;
    background-color: var(--dark-shade);
    border: none;
    color: white;
}
form.financial_form div:nth-child(3), form.financial_form div:nth-child(4){
    grid-column: 1 / 3;
}
form.financial_form div:nth-child(3) input, form.financial_form div:nth-child(4) input{
    width: 100%;
}
div.form_index_btn button{
    color: white;
    font-size: 14px;
    padding:10px 20px;
    background-color: var(--red-shade);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

div.form_index_btn button:hover{
    background-color: rgba(255, 79, 26, 0.822);
    transition-duration: 0.3s;
}

section.testiomonals{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    height: min-content;
    width: 100%;
}

section.testiomonals div.top_text p {
    margin: 0;
}

section.testiomonals div.top_text p:nth-child(1){
font-size: 1.2rem;
color: var(--red-shade);
font-family: var(--secondary-font);
text-align: center;
}

div.test_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: min-content;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 15px 0px ;
    border-radius: 10px;
    margin-top: 40px;
    padding-left: 40px;
}
div.quot span{
    background-color: var(--green-shade);
    font-size: 4rem;
    color: white;
}

section.testiomonals div.top_text p:nth-child(2){
    font-family: var(--secondary-font);
    font-size: 2.6rem; 
}
footer.index_footer{
    background-color: rgb(7, 6, 24);
    width: 100%;
    color: white;
    font-size: 1rem;
    padding: 5px 0;
    text-align: center;
}

div.first_half{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 70%;
}

div.pages span:hover{
    color: var(--red-shade);
    transition: all 0.2s;
}
div.pages span:nth-child(2), div.pages span:nth-child(3){
    background:white;
    color: black;
    font-family: var(--secondary-font);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 0px;
    font-size: 1rem;
    
}
div.pages{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 120px;
}
span#pn_span{
    background: transparent;
    font-family: var(--primary-font);
    color: white;
}
div#expand{
display: flex;
align-items: center;
justify-content: center;
}
div#expand:hover{
    color: var(--red-shade);
    transition: all 0.2s;
    cursor: pointer;
}
div#expand span{
    display: block;
}
div.pages span:hover{
    color: var(--red-shade);
    transition: all 0.2s;
}
.hidden{
    visibility: hidden;
}
div#servicese, div#contactUs, div#abouts{
    background-color: white;
    color: black;
    width: 120px;
    height: 40px;
    margin: 0;
    display: grid;
    place-items: center;
    text-align: center;
    cursor: pointer;
}
div#servicese a, div#contactUs a, div#abouts a {
    color: black;
}
div#servicese a:hover, div#contactUs a:hover, div#abouts a:hover{
    color: var(--red-shade);
    transition: all 0.2s;
}
div.first_half > *{
    margin-top: 20px;
}
div.ceo_name p:nth-child(1){
font-family: var(--secondary-font);
font-size: 2.1rem;
}

div.ceo_name p:nth-child(2){
    font-size: 1.2rem;
    font-family: var(--secondary-font);
    color: var(--green-shade);
    
}

div.contact_support_popup{
    position: fixed;
    box-shadow: rgb(8, 8, 8) 0px 0px 15px 0px;
    right: 0;
    bottom: 10px;
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 10px;
    visibility: hidden;
    
}

div.contact_support_popup form{
    display: grid;
    row-gap: 20px;
}
button#popup_btn{
    background-color: bisque;
    width: 30%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 5px 0;
    
}
button#popup_btn:hover{
    background-color: rgb(228, 162, 82);
    transition: all 1s;
}
@keyframes popup {
    0%{
        width: 5%;
        height: 15%;
    }
    100%{
        width: 30%;
        height: 60%;
    }
    
}
.pop{
    animation-name: popup;
    animation-duration: 0.2s;
}

span#close_popup:hover{
background-color: red;
cursor: pointer;
transition: all 0.2s;
padding: 0 10px;
}

div.contact_support_popup form input, div.contact_support_popup form textarea{
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}
div.contact_support_popup form p{
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 1.6rem;
}




/* services page */
header.services_header{
    background-image: url(./media/images/main_background.jpg);
    width: 100%;
    height: 100vh;
    padding:0 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}

p.services_header_text{
    color: white;
    font-size: 3.7rem;
    font-family: var(--secondary-font);
    text-align: center;
}

hr#services_hr{
    width: 10%;

    margin: auto;
}

main.main_services_section{
    padding: 50px;
}
section.services_outlined article.service{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:0;
    margin-bottom: 50px;
}
section.services_outlined article.service img{
    display: block;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
div.service_span_div span{
    color: var(--green-shade);
    background-color:rgb(236, 248, 242);
    font-size:5rem;
    padding: 10px;
}

p.service_title{
    font-size: 2.6rem;
    font-family: var(--secondary-font);
}

p.service_details{
    width: 80%;
}
img.service-img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
div.service_details_div{
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    margin:0 auto 50px auto;
    width:80%;
    gap:0 20px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 0px;
    animation-name: slide;
    animation-duration: 1s;
}
p.service_detatail_title{
    font-size: 2.2rem;
    font-family: var(--secondary-font);
}
.service_hide{
    display: none !important;
}
.service_anchor_color_toggle{
    color: var(--red-shade);
}


section.google_map_iframe{
    margin: auto;
    padding: 50px 0;
    width: 100%;
    text-align: center;
    
}
section.google_map_iframe iframe{
    width: 80%;
    border-radius: 10px;
}

div.contact_info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    z-index: 100;
}
div.contact_info div.contact_info_box{
    margin: 0 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 0px;
    flex-basis: 20%;
    height: 200px;
    display: grid;
    background-color: white;
    place-items: center;
    border-radius: 10px;
    padding:10px 0 ;
}
div.contact_info div.contact_info_box span{
    color: var(--green-shade);
    font-size: 3rem;
   
}
p.contact_info_title{
    font-size: 1.2rem;
    font-family: var(--secondary-font);
}
section.main_contact_page_contact_form{
    width: 100%;
    padding: 50px;
    text-align: center;
}
p.orange_contact_text{
    color: var(--red-shade);
    font-size: 1.2rem;
    font-family: var(--secondary-font);
}

p#feel_free{
    font-size: 2.6rem;
    font-family: var(--secondary-font);
}
form.contact_form_grid_contact-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
    margin: auto;
}
form.contact_form_grid_contact-page input{
    padding: 20px 20px;
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 10px;
    outline: none;
}

textarea#contact-message-textarea{
    grid-column: 1 / span 2;
    background-color: rgb(247, 247, 247);
    resize: none;
    outline: none;
    border: none;
    padding: 20px;
    height: 150px;
    overflow: scroll;
}

button#contact-page-submit_button{
    width: max-content;
    color: white;
    font-family: var(--secondary-font);
    background-color: var(--red-shade);
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: .9rem;
    border-radius: 5px;
    cursor: pointer;
}
button#contact-page-submit_button:hover{
    background-color: var(--green-shade);
    transition: all 0.2s;
}


/* About Page */

section.toggle_down_section{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0px 50px ;
    padding: 50px 0;
}
section.toggle_down_section img{
    width: 100%;
    display: block;
    object-fit: cover;
    height: auto;
    border-radius: 10px;
}

section.toggle_down_section div.actual_toggle{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 0px;
    padding: 50px 20px;
    border-radius: 10px;
}
div.div.actual_toggle div{
    width: min-content;
}
div.toggle_text{
    display: flex;
    flex-direction: column;
}
p.toggle_text_hidden{
    display: none;
}

.green_shade_text_about_toggle{
    color: var(--green-shade);
}
.about_span_rotate{
    transform: rotate(90deg);
    transition-duration: 0.2s;
    color: var(--green-shade);

}
div.span_toggle span{
    cursor: pointer;
}
div.toggle_text p:nth-child(1){
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    white-space: nowrap;
}

section.toggle_down_section div.actual_toggle div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
}

main.about_us_section{
    width: 80%;
    margin: auto;
    height: min-content;
    padding:50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
}
p.about_head{
    font-size: 1.8rem;
    font-family:var(--secondary-font);
}
div.about_info_data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
div.about_button_learn button{
    background-color: var(--green-shade);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
div.main_about_info_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
}
div.main_about_info_grid div.about_info_grid{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 0px;
    border-radius: 10px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


div.main_about_info_grid div.about_info_grid p:nth-child(1){
    white-space: nowrap;
    font-family: var(--secondary-font);
    font-size: 1.3rem;
}
div.main_about_info_grid div.about_info_grid p:nth-child(3){
    grid-column: 1 /  span 2;

}
p#about_number{
    justify-self: flex-end;
    color: var(--green-shade);
    font-size: 2rem;
    font-family: var(--secondary-font);
}

p#about_number:hover{
    transition: all 0.2s;
    transform: translateY(5px);
}

/* articles page */

main.articles div.blog_first_half_about{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    padding: 50px;
}
div.blog_selection{
    border-right: 1px solid black;
    margin-right: 20px;
}
div.blog_selection div{
    margin-bottom: 20px;
    cursor: pointer;
    
}

div.blog_selection div a{
    font-family: var(--secondary-font);
}

.coloured{
    color: red;

}

section.contact_donate{
    display: grid;
    grid-template-columns: 0.5fr;
    place-content: center;
    background-color: #f8f9d2;
    background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 0px;
    padding: 20px 10px;
    border-radius: 10px;
    height: min-content;
}
section.contact_donate div.contact_form_div form{
    display: grid;
    grid-row-gap:10px;
    place-items: center;
   
}
div.contact_form_div form input, div.contact_form_div form textarea{
    padding: 10px;
    outline: none;
    border:none;
    border-bottom: 1px solid gray;
    width: 80%;
    font-size: 1rem;
}
div.contact_form_div form textarea{
    resize: none;
}
div#pounds > *{
    display: inline-block;
}

div.donate_form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* height: 60%; */
}
div.donate_form form input{
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
}


button.donate_btn{
    padding: 10px 20px;
    border: none;
    background: purple;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button.donate_btn:hover{
    background:rgba(128, 0, 128, 0.637);
    transition: all 0.2s;
}
section.contact_donate input:focus, section.contact_donate textarea:focus{
    border-bottom: 1.5px solid purple;
    transition: all 0.1s;
}
p.donate_info{
    width: 80%;
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-align: center;
 
}
div.donate_form{
    display: grid;
    place-items: center;
}

div.hide_confirmation{
    width: max-content;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--green-shade);
    color: white;
    position: relative;

}
div.hide_confirmation span{
    margin:0 5px;
    display: inline-block;
    
}

div.confirmation span#close_icon{
    position: absolute;
    left: 0;
    top: 5px;
    margin-right: 10px;
    cursor: pointer;
    
    
}
p#sent{
    display: inline-block;
    margin-left: 20px;
}

div.articles_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:50px;
    grid-row-gap:50px;
}

.hide_confirmation{
    display: none;
    
}
.show_confirmation{
    display: block;
    animation-name: hiding;
    animation-duration: 5s;
    
}

@keyframes hiding{
    0% {
        box-shadow: 0;
    }
    100% {
        box-shadow: inset 0 0 20px white;
    }
}
.heading_section{
    font-size: 2.2rem;
    color: red;
    display: block;
    text-align: center;
    font-family: var(--secondary-font);
    margin-bottom: 20px;
}

input#donate_input_price{
    width: 100px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    
}
/* Home Page Responsive  */


@media only screen and (max-width: 1200px){
    div.woman_img{
        display: none;
    }
  
}

@media only screen and (max-width:900px){
    section.testiomonals{
        display: none;
    }
    header.index_header{
        padding: 0 0 50px 0;
    }

    section.index_banner{
        flex-direction: column; 
        align-items: center;
        justify-content: space-around;
     }
     section.index_banner div:nth-child(1){
         text-align: center;
     }
     section.index_features{
        grid-template-columns: 1fr;
    }
    section.contact_donate{
        grid-template-columns: 1fr;
        gap: 20px 0;
    }
}
@media only screen and (max-width: 600px){
    div.header_index_bottom_half{
        display: flex;
        justify-content: center;
        align-items: center;
    }

        nav.hamburger_nav{
        display: flex;
        justify-content: space-between;
        /* width: 100vw; */
    } 
    nav.home_nav, div.home_header_title{
        display: none;
    }

  div#main{
    width: 100%;
 
  }
  
  header.index_header div.header_index_bottom_half div.index_heading_text{
    font-size: 2.0rem;
  }
  div#header_buttons{
    
    margin-left:50px;
  }
    div#it{
        display: none;
    }
 


 
    section.about{
        flex-direction: column;
        align-items:center;
        justify-content: space-around;
    }
    section.about > *{
        width: 100%;
    }
    form.financial_form{
        grid-template-columns: 1fr;
    }
    form.financial_form div{
        
        grid-column: 1 / 2;
    }
    form.financial_form div > *{
        width: 90vw;

    }
  

}

/* About Page Responsive */

@media only screen and (max-width:900px){
    section.toggle_down_section{
        grid-template-columns: 1fr;
        gap: 50px;
        justify-content: center;
    }

    main.about_us_section{
        grid-template-columns: 1fr;
        gap: 50px;
    }
    div.main_about_info_grid{
        grid-template-columns: 1fr;
    }
}


/* Contact Page Responsive */

@media only screen and (max-width:900px){
    div.contact_info{
        margin-top: 0px;
        padding-top:50px;
        flex-direction: column;

    }
    div.contact_info div.contact_info_box{
width: 80%;
margin: 10px 0;
    }
    form.contact_form_grid_contact-page{
        grid-template-columns: 1fr;
    }
    textarea#contact-message-textarea{
        grid-column: 1 / 2;
    }
}

/* Services Responsive */
@media only screen and (max-width:900px){
    section.services_outlined article.service{
        grid-template-columns: 1fr;
        margin: auto;
    }
    div.service_details_div{
        grid-template-columns: 1fr;
        place-items: center;
        text-align: center;
        
    }
    article.service img{
        width: 90%;
        margin: auto;
    }
    div.service_span_div{
        margin-top: 30px;
        text-align: center;
    }
    p.service_title{
        text-align: center;
    }
    p.service_details{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    div.service_details_div > *{
        width: 80%;
    }
}





/* articles responsive */

@media only screen and (max-width:600px){
    main.articles div.blog_first_half_about{
        grid-template-columns: 1fr;
    }

    div.blog_selection{
        display: flex;
        
    }
    div.blog_selection div{
        margin-right: 20px;
        cursor: pointer;
        
    }
}